* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="图片_推送菜单_推送成功_files/u0_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="图片_推送菜单_推送成功_files/u4_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="图片_推送菜单_推送成功_files/u6_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="图片_推送菜单_推送成功_files/u4_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="图片_推送菜单_推送成功_files/u10_normal.png");
}

* html .u12_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="图片_推送菜单_推送成功_files/u12_end.png");
}

* html .u12_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="图片_推送菜单_推送成功_files/u12_line.png");
}

