body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../图片_推送菜单_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:48px;
    top:58px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:48px;
    top:58px;
    width:480px;
    height:800px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:800px;
}

.u3 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../图片_推送菜单_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:48px;
    top:58px;
    width:480px;
    height:75px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:81px;
}

.u5 {
    position:absolute;
    left:2px;
    top:30px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../图片_推送菜单_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:61px;
    top:76px;
    width:100px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:48px;
    top:658px;
    width:485px;
    height:205px
}

.u9_normal {
    background-image: url('../图片_推送菜单_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:50px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:56px;
}

.u10 {
    position:absolute;
    left:2px;
    top:17px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../图片_推送菜单_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:50px;
    width:480px;
    height:50px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:56px;
}

.u12 {
    position:absolute;
    left:2px;
    top:17px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../图片_推送菜单_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:100px;
    width:480px;
    height:50px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:56px;
}

.u14 {
    position:absolute;
    left:2px;
    top:17px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../图片_推送菜单_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:150px;
    width:480px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:56px;
}

.u16 {
    position:absolute;
    left:2px;
    top:17px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:633px;
    top:613px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_end {
    background-image: url('../图片_推送菜单_files/u18_end.png');
}

.u18_end {
    position:absolute;
    left:124px;
    top:-5px;
    width:14px;
    height:20px;
}

.u18_line {
    background-image: url('../图片_推送菜单_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:133px;
    height:3px;
}

.u18 {
    position:absolute;
    left:490px;
    top:617px;
    width:133px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:661px;
    top:727px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_end {
    background-image: url('../图片_推送菜单_files/u22_end.png');
}

.u22_end {
    position:absolute;
    left:124px;
    top:-5px;
    width:14px;
    height:20px;
}

.u22_line {
    background-image: url('../图片_推送菜单_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:133px;
    height:3px;
}

.u22 {
    position:absolute;
    left:518px;
    top:731px;
    width:133px;
    height:10px;
    
}

