body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:48px;
    top:58px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:48px;
    top:58px;
    width:480px;
    height:75px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:81px;
}

.u3 {
    position:absolute;
    left:2px;
    top:30px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:61px;
    top:76px;
    width:100px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:138px;
    top:173px;
    width:300px;
    height:291px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:297px;
}

.u7 {
    position:absolute;
    left:2px;
    top:138px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:474px;
    top:76px;
    width:40px;
    height:40px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:36px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:66px;
    top:545px;
    width:90px;
    height:43px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:49px;
}

.u11 {
    position:absolute;
    left:2px;
    top:15px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:183px;
    top:545px;
    width:90px;
    height:43px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:49px;
}

.u13 {
    position:absolute;
    left:2px;
    top:15px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:299px;
    top:545px;
    width:90px;
    height:43px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:49px;
}

.u15 {
    position:absolute;
    left:2px;
    top:15px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../视频_推送菜单_推送成功_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:416px;
    top:545px;
    width:90px;
    height:43px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:49px;
}

.u17 {
    position:absolute;
    left:2px;
    top:15px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:231px;
    top:485px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

